.actions {
    width: 100%;
    padding: 50px 376px;
    position: relative;
    @media screen and (max-width: 1840px) {
        padding: 50px 140px;
    }
    @media screen and (max-width: 1366px) {
        padding: 50px 100px;
    }
    @media screen and (max-width: 1230px) {
        padding: 20px 10px;
    }
    @media screen and (max-width: 540px) {
        padding: 20px;
    }
    @media screen and (max-width: 450px) {
        padding: 20px;
    }
    @media screen and (max-width: 350px) {
        padding: 20px 7px;
    }
    &--catalog {
        background-color: $grey;
        @media screen and (max-width: 1070px) {
            display: none;
        }
        &.buy-it {
            @media screen and (max-width: 540px) {
                display: block;
                margin-top: 20px;
                .catalog {
                    margin-top: 0;
                }
                .owl-item {
                    width: 100%;
                }
                .carousel-element {
                    width: 87vw;
                    @media screen and (max-width: 380px) {
                        width: 85vw;
                    }
                    @media screen and (max-width: 320px) {
                        width: 90vw;
                    }
                }
                .catalog__img-wrap {
                    justify-content: center;
                }
                .catalog__img {
                    width: 40%;
                }
                .product-item__title {
                    font-size: 16px;
                }
            }
        }
    }
}
.action-desc {
    &__title {
        color: $red;
        font-size: 30px;
        font-weight: bold;
        margin-top: 30px;
        @media screen and (max-width: 540px) {
            font-size: 16px;
            text-transform: uppercase;
            margin-top: 10px;
        }
    }
    &__info {
        margin: 20px 0;
        @media screen and (max-width: 540px) {
            margin: 10px 0;
            font-size: 12px;
        }
    }
    .link-way {
        width: 94px;
        @media screen and (max-width: 540px) {
            display: flex;
            position: absolute;
            left: 50%;
            margin-left: -47px;
            margin-top: 18px;
            z-index: 50;
        }
        &.active {
            background-color: $red;
        }
    }
}
.actions-inside {
    position: relative;
    .owl-pagination {
        display: none;
        @media screen and (max-width: 540px) {
            display: flex;
            margin-top: 0;
            margin-bottom: 20px;
        }
    }
    .arrow-left {
        left: -5%;
    }
    .arrow-right {
        right: -5%;
    }
}
.all {
    text-align: center;
    margin-top: 20px;
    a {
        color: $dark-grey;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        @media screen and (max-width: 540px) {
            font-size: 14px;
        }
    }
    @media screen and (max-width: 540px) {
        display: none;
    }
}
.action-more {
    transition: .3s;
    overflow: hidden;
    height: 0;
    &__content {
        margin-top: 20px;
        @media screen and (max-width: 540px) {
            font-size: 12px;
            margin-top: 10px;
        }
    }
}
.actions-more {
    &__content {
        display: flex;
        flex-wrap: wrap;
        width: 75%;
        @media screen and (max-width: 1540px) {
            width: 90%;
        }
        @media screen and (max-width: 1366px) {
            width: 100%;
        }
    }
}