.actions {
    width: 100%;
    padding: 50px 376px;
    position: relative;
    @media screen and (max-width: 1840px) {
        padding: 50px 140px;
    }
    @media screen and (max-width: 1366px) {
        padding: 50px 100px;
    }
    @media screen and (max-width: 1230px) {
        padding: 20px 10px;
    }
    @media screen and (max-width: 540px) {
        padding: 20px 5px;
    }
}
.action-desc {
    &__title {
        color: $red;
        font-size: 30px;
        font-weight: bold;
        margin-top: 30px;
        @media screen and (max-width: 540px) {
            font-size: 16px;
            text-transform: uppercase;
            margin-top: 10px;
        }
    }
    &__info {
        margin: 20px 0;
        @media screen and (max-width: 540px) {
            margin: 10px 0;
            font-size: 12px;
        }
    }
    .link-way {
        width: 95px;
        @media screen and (max-width: 540px) {
            display: flex;
        }
        &.active {
            background-color: $red;
        }
    }
}
.actions-inside {
    position: relative;
    .owl-pagination {
        display: none;
    }
    .arrow-left {
        left: -5%;
    }
    .arrow-right {
        right: -5%;
    }
}
.all {
    text-align: center;
    margin-top: 20px;
    a {
        color: $dark-grey;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        @media screen and (max-width: 540px) {
            font-size: 14px;
        }
    }
    @media screen and (max-width: 540px) {
        display: none;
    }
}
.action-more {
    transition: .3s;
    overflow: hidden;
    height: 0;
    &__content {
        margin-top: 20px;
        @media screen and (max-width: 540px) {
            font-size: 12px;
            margin-top: 10px;
        }
    }
}