.catalog-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (max-width: 1366px) {
        justify-content: space-around;
    }
}
.catalog-item {
    margin-top: 35px;
    width: 365px;
    display: flex;
    @media screen and (max-width: 540px) {
        display: none;
    }
    &__img {
        img {
            width: 80px;
            @media screen and (max-width: 540px) {
                width: 40px;
            }
        }
        @media screen and (max-width: 540px) {
            display: none;
        }
        &.mobile {
            display: none;
            @media screen and (max-width: 540px) {
                display: block;
                &.roof {
                    width: 39px;
                    height: 30px;
                    background: url('assets/images/items1.png') no-repeat;
                }
                &.fence {
                    width: 34px;
                    height: 29px;
                    background: url('assets/images/items2.png') no-repeat;
                }
                &.front {
                    width: 39px;
                    height: 31px;
                    background: url('assets/images/items3.png') no-repeat;
                }
                &.materials {
                    width: 39px;
                    height: 43px;
                    background: url('assets/images/items4.png') no-repeat;
                }
                &.territory {
                    width: 37px;
                    height: 28px;
                    background: url('assets/images/items5.png') no-repeat;
                }
                &.hand {
                    width: 35px;
                    height: 35px;
                    background: url('assets/images/items6.png') no-repeat;
                }
            }
        }
    }
    &__desc {
        margin-left: 30px;
        margin-top: 25px;
        @media screen and (max-width: 540px) {
            margin-top: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__list {
        margin-top: 20px;
        font-size: 14px;
        @media screen and (max-width: 540px) {
            display: none;
        }

    }
    &__link {
        text-decoration: none;
        color: #000;
        &:hover {
            text-decoration: underline;
        }
    }
    &__title {
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        @media screen and (max-width: 540px) {
            font-size: 14px;
        }
    }
    &__arrow {
        display: none;
        @media screen and (max-width: 540px) {
            display: block;
        }
    }
    &__show-all {
        font-size: 14px;
        color: $dark-grey;
        margin-top: 15px;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        &.active {
            text-decoration: underline;
        }
        @media screen and (max-width: 540px) {
            display: none;
        }
    }
    .catalog-hidden {
        transition: 0.4s;
        overflow: hidden;
        height: 0;
        &-link {
            color: #000;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.catalog-item-mobile__list {
    display: none;
    @media screen and (max-width: 540px) {
        display: block;
        width: 100%;
        background-color: $grey;
        margin-top: 0;
    } 
}
.catalog-item-mobile__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    text-decoration: none;
    font-weight: bold;
    &:hover {
        background-color: $red;
        span {
            color: #fff;
        }
    }
}
.catalog-item-mobile__left {
    display: flex;
    align-items: center;
    span {
        margin-left: 20px;
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
    }
}
