.cooperation {
    &__text {
        font-size: 14px;
        margin-top: 25px;
        &:first-child {
            margin-top: 0;
        }
        @media screen and (max-width: 1000px) {
            margin-top: 10px;
        }
        @media screen and (max-width: 540px) {
            font-size: 12px !important;
            padding: 5px;
        }
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        width: 950px;
    }
}