.delivery {
    display: flex;
    @media screen and (max-width: 790px) {
        flex-direction: column;
    }
    &__left {
        width: 234px;
        margin-right: 45px;
        @media screen and (max-width: 790px) {
            width: 100%;
        }
    }
    &__right {
        @media screen and (max-width: 790px) {
            margin-top: 8px;
        } 
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            width: 900px;
        }
    }
    &__address {
        padding: 10px 15px;
        font-family: 'Circe';
        font-size: 14px;
        width: 234px;
        border: 3px solid #f3f3f3;
        @media screen and (max-width: 790px) {
            width: 100%;
        }
    }
    &__name {
        padding: 10px 15px;
    }
    &__choice-list {
        margin-top: 7px;
    }
    &__choice-item {
        background-color: $grey;
        margin-top: 7px;
        font-size: 16px;
        font-weight: bold;
        &:hover, &.active {
            background-color: $red;
            color: #fff;
            cursor: pointer;
        }
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            width: 234px;
        }
    }
    &__choice-wrap {
        transition: 0.4s;
        overflow: hidden;
        height: 0;
    }
    &__choice-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 5px;
        background-color: $grey;
        color: #000;
        padding: 10px 15px;
        @media screen and (max-width: 790px) {
            justify-content: flex-start;
        }
    }
    &__car {
        display: flex;
        flex-direction: column;
        width: 100px;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        &-title {
            font-weight: normal;
            font-size: 13px;
            margin-top: 8px;
        }
        &-icon {
            &.easy {
                width: 64px;
                height: 32px;
                background: url('assets/images/car1.png') no-repeat; 
                &.active {
                    background-position: 0 -32px;
                }
            }
            &.middle {
                width: 67px;
                height: 26px;
                background: url('assets/images/car2.png') no-repeat;
                &.active {
                    background-position: 0 -26px;
                }
            }
            &.hard {
                width: 91px;
                height: 27px;
                background: url('assets/images/car3.png') no-repeat;
                &.active {
                    background-position: 0 -27px;
                }
            }
            &.easy-manipulator {
                width: 57px;
                height: 32px;
                background: url('assets/images/car4.png') no-repeat;
                &.active {
                    background-position: 0 -32px;
                }
            }
            &.middle-manipulator {
                width: 67px;
                height: 31px;
                background: url('assets/images/car5.png') no-repeat;
                &.active {
                    background-position: 0 -31px;
                }
            }
            &.long {
                width: 109px;
                height: 26px;
                background: url('assets/images/car6.png') no-repeat;
                &.active {
                    background-position: 0 -26px;
                }
            }
        }
    }
    &__kind {
        font-size: 24px;
        margin-top: 30px;
    }
    &__intro {
        background-color: $grey;
        padding: 15px;
        p {
            font-size: 20px;
        }
    }
    &__amount {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    &__number {
        background-color: #fff;
        width: 48%;
        text-align: center;
        padding: 40px 0;
        span {
            font-size: 20px;
            font-weight: bold;
        }
        @media screen and (max-width: 450px) {
            font-size: 14px;
        } 
    }
    &__rules {
        background-color: $grey;
        margin-top: 25px;
        padding: 30px 50px;
        @media screen and (max-width: 750px) {
            padding: 30px 10px;
        }
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            color: $red;
            font-weight: bold;
            font-size: 18px;
        }
        &.active {
            .delivery__arrow {
                background-position: 0 -33px;
            }
        }
    }
    &__arrow {
        width: 33px;
        height: 33px;
        background: url('assets/images/arrow-list.png') no-repeat;
        &:hover {
            cursor: pointer;
        }
    }
    &__wrap {
        transition: 0.4s;
        overflow: hidden;
        height: 0;
    }
    &__content {
        font-size: 13px;
    }
    &__subtitle {
        margin: 20px 0;
        color: $red;
        text-transform: uppercase;
        font-weight: bold;
    }
    &__text {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
.map {
    margin-top: 25px;
    &--contacts {
        width: 99vw;
        margin-top: 95px;
        margin-left: -650px;
        @media screen and (max-width: 1840px) {
            margin-left: -413px;
        }
        @media screen and (max-width: 1366px) {
            margin-left: -374px;
        }
        @media screen and (max-width: 1230px) {
            margin-left: -294px;
        }
        @media screen and (max-width: 1000px) {
            margin-left: -215px;
        }
        @media screen and (max-width: 720px) {
            width: 100%;
            margin-left: 0;
            margin-top: 20px;
        }
    }
}