.gallery {
    width: 100%;
    padding: 50px 376px;
    background-color: $light-grey;
    @media screen and (max-width: 1840px) {
        padding: 50px 140px;
    }
    @media screen and (max-width: 1366px) {
        padding: 50px 100px;
    }
    @media screen and (max-width: 1230px) {
        padding: 20px 10px 50px 10px;
    }
    @media screen and (max-width: 540px) {
        padding: 20px 20px 50px 20px;
    }
    
    &.inside {
        padding: 0;
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width: 1150px) {
            justify-content: space-between;
        }
        @media screen and (max-width: 785px) {
            justify-content: center;
        }
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            width: 950px;
        }
        hr {
            width: 60px;
            margin: 15px 0;
        }
        .gallery-project__desc {
            padding-top: 30px;
            @media screen and (max-width: 540px) {
                position: relative;
                opacity: 1;
                background-color: #fff;
            }
        }
        .gallery-project__link {
            @media screen and (max-width: 540px) {
                margin-left: 0;
            }
        }
        .gallery-project__text, .gallery-project__title {
            @media screen and (max-width: 540px) {
                color: #000;
                font-size: 14px;
            }
        }
        .gallery-project__img {
            margin-left: 0;
            border-right: 15px solid white;
            border-bottom: 15px solid white;
            width: 374px;
            @media screen and (max-width: 785px) {
                border-right: none;
            }
            @media screen and (max-width: 540px) {
                display: flex;
                flex-direction: column;
            }
            img {
                width: 374px;
            }
        }
        .fancybox {
            margin-top: 15px;
            margin-right: 15px;
            img {
                width: 374px;
                height: 200px;
            }
        }
        &.details {
            @media screen and (max-width: 540px) {
                display: none;
            }
        }
    }
}
.photo-gallery {
    display: none;
    @media screen and (max-width: 540px) {
        display: block;
        margin-top: 15px;
        .page-title__name {
            text-align: center;
            margin: 10px 0;
            font-weight: bold;
        }
        .owl-wrapper-outer {
            height: 350px;
            overflow: hidden;
        }
        img {
            height: 200px;
        }
        .photo-gallery__block {
            width: 100%;
        }
        .gallery-project__desc {
            padding-top: 30px;
            position: relative;
            opacity: 1;
            background: none;
        }
        .gallery-project__title {
            color: $red;
            font-size: 15px;
            font-weight: bold;
        }
        .gallery-project__text {
            font-size: 12px;
            color: #000;
        }
    }
}