.info-about {
    margin-top: 40px;
    padding: 50px 376px;
    @media screen and (max-width: 1840px) {
        padding: 50px 140px;
    }
    @media screen and (max-width: 1366px) {
        padding: 50px 100px;
    }
    @media screen and (max-width: 1230px) {
        padding: 20px 10px;
    }
    @media screen and (max-width: 540px) {
        background-color: $grey;
        padding: 20px 5px;
        display: none;
        &.mobile-visible {
            display: block;
            margin-top: 0px;
        }
    }
    &__slogan {
        font-weight: bold;
        font-size: 30px;
        @media screen and (max-width: 850px) {
            font-size: 24px;
        }
        @media screen and (max-width: 540px) {
            font-size: 18px;
        }
    }
    &__desc {
        margin-top: 20px;
        @media screen and (max-width: 850px) {
            font-size: 14px;
        }
        @media screen and (max-width: 540px) {
            font-size: 12px;
        }
    }
}