.inside-menu__list {
    display: none;
    position: absolute;
    z-index: 50;
    background-color: $light-grey;
}
.inside-menu__item {
    padding: 15px;
    display: flex;
    align-items: center;
    img {
        margin-right: 10px;
    }
    &:hover {
        background-color: #eaeaea;
        .inside-menu__link {
            color: $red;
        }
    }
    &:hover > ul {
        display: block;
    }
}
.inside-menu__link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.inside-menu__items {
    position: absolute;
    left: 100%;
    z-index: 50;
    top:0;
    width: 100%;
    background-color: $light-grey;
    display: none;
    padding: 15px;
    a {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        text-transform: none;
        &:hover {
            color: $red;
        }
    }
}