.label-inside {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 720px) {
        display: none;
    }
    &.mobile-visible {
        @media screen and (max-width: 720px) {
            display: flex;
            align-self: flex-start;
            width: 100%;
            margin-top: 10px;
        }
    }
    &__item {
        color: $dark-grey;
        font-size: 14px;
        padding: 10px 15px;
        text-decoration: none;
        &:hover {
            color: $red;
            cursor: pointer;
        }
        &.active {
            color: $red;
        }
        @media screen and (max-width: 720px) {
            color: #000;;
            background-color: $grey;
            font-size: 14px;
            padding: 5px 10px;
            text-decoration: none;
            width: 100%;
            margin-top: 5px;
            &.active, &:hover {
                background-color: $red;
                color: #fff;
            }
        }
    }
}
