.label-inside {
    transition: .4s;
    overflow: hidden;
    height: 0;
    &__item {
        color: $dark-grey;
        font-size: 14px;
        padding: 10px 15px;
        &:hover {
            color: $red;
            cursor: pointer;
        }
    }
    &__content {
        label {
            margin-top: 0;
            color: #808080;
            background-color: #fff;
            font-size: 15px;
            padding: 10px 15px;
            &:hover {
                background: #fff;
                color: $red;
            }
        }
        input {
            &:checked+label {
                background-color: #fff;
                color: $red;
            }
        }
    }
}
.label-info {
    &.active {
        background-color: $red;
        color: #fff;
    }
}
