.links {
    font-size: 14px;
    font-weight: bold;
    padding: 20px 0;
    position: relative;
    z-index: 60;
    &__list {
        display: flex;
        justify-content: flex-end;
    }
    &__item {
        padding: 0 11px;
        @media screen and (max-width: 540px) {
            font-size: 12px;
        }
        &:last-child {
            @media screen and (max-width: 540px) {
                padding-right: 0;
            }
        }
        &.border {
            border-left: 2px solid $red;
            border-right: 2px solid $red;
        }
    }
    &__link {
        text-decoration: none;
        color: #000;
    }
    &__inside-list {
        display: none;
        position: absolute;
        width: 100%;
        bottom: -134%;
        text-align: center;
        z-index: 70;;
    }
    &__inside-item {
        padding: 11px 0;
        background-color: $grey;
        &:hover {
            background-color: white;
            cursor: pointer;
        }
    }
    &.active {
        background-color: $grey;
        .links__inside-list {
            display: block;
        }
        .links__item {
            &:first-child {
                .links__link {
                    color: #d3c7c7;
                }
            }
            &.border {
                border-left: 2px solid #d3c7c7;
                .links__link {
                    color: #d3c7c7;
                }
            }
        }
    }
}