.mobile-menu {
    display: none;
    @media screen and (max-width: 540px) {
        position: absolute;
        top: 143px;
        left: 0;
        width: 100%;
        background-color: rgba(40,40,40,0.95);
        z-index: 150;
        height: 100%;
        &.active {
            display: block;
        }
        &__item {
            padding: 8px 10px;
            border-bottom: 1px solid rgba(255,255,255,0.5);
            &:last-child {
                border-bottom: none;
            }
        }
        &__link {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
        }
        .links {
            &__list {
                justify-content: center;
            }
            &__link {
                color: #fff;
                font-weight: normal;
            }
        }
        .location {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            background-color: $grey;
            padding: 0 10px;
            &__choice {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                img {
                    margin-left: 10px;
                }
                &-list {
                    width: 100%;
                    margin-left: -10px;
                }
            }
        }
    }
}