.new-things {
    background: url('assets/images/new-things.png') center center no-repeat;
    width: 100%;
    height: auto;
    background-size: cover;
    padding: 50px 376px;
    position: relative;
    @media screen and (max-width: 1840px) {
        padding: 50px 140px;
    }
    @media screen and (max-width: 1366px) {
        padding: 50px 100px;
    }
    @media screen and (max-width: 1230px) {
        padding: 20px 20px 50px 20px;
    }
    @media screen and (max-width: 540px) {
        padding: 20px;
    }
    @media screen and (max-width: 450px) {
        padding: 20px 13px;
    }
    @media screen and (max-width: 350px) {
        padding: 20px 7px;
    }
}