.page-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 376px;
    width: 100%;
    background-color: $red;
    font-size: 30px;
    color: #fff;
    @media screen and (max-width: 1840px) {
        padding: 10px 140px;
    }
    @media screen and (max-width: 1366px) {
        padding: 10px 80px;
    }
    @media screen and (max-width: 1230px) {
        padding: 20px 10px 10px 10px;
    }
    @media screen and (max-width: 540px) {
        background-color: #fff;
        justify-content: center;
    }
    &.mobile-hidden {
        @media screen and (max-width: 540px) {
            display: none;
        }
    }
    &.mobile-visible {
        display: none; 
        @media screen and (max-width: 540px) {
            display: flex;
            flex-direction: column;
            padding: 10px 0;
            margin-top: 10px;
        }
    }
    &__name {
        font-size: 30px;
        @media screen and (max-width: 950px) {
            font-size: 20px;
        }
        @media screen and (max-width: 720px) {
            font-size: 22px;
        }
        @media screen and (max-width: 540px) {
            color: #000;
            text-transform: uppercase;
            font-size: 18px;
        }
        @media screen and (max-width: 400px) {
            font-size: 16px;
        }
    }
    &__way {
        font-size: 16px;
        @media screen and (max-width: 950px) {
            font-size: 12px;
        }
        @media screen and (max-width: 540px) {
            display: none;
        }
        @media screen and (max-width: 400px) {
            font-size: 11px;
        }
    }
    &__link {
        text-decoration: none;
        color: #fff;
        &:hover {
            text-decoration: underline;
        }
    }
}