.partners {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    &__img {
        width: 80%;
        @media screen and (max-width: 540px) {
            width: 100%;
        }
    }
    &__title {
        margin-top: 25px;
        margin-left: 40px;
        @media screen and (max-width: 540px) {
            font-size: 20px;
            margin-left: 10px;
            margin-top: 15px;
        }
    }
    &--cooperation {
        width: 99vw;
        @media screen and (max-width: 1840px) {
            margin-left: -413px;
        }
        @media screen and (max-width: 1366px) {
            margin-left: -354px;
        }
        @media screen and (max-width: 1366px) {
            margin-left: -354px;
        }
        @media screen and (max-width: 1230px) {
            margin-left: -284px;
        }
        @media screen and (max-width: 1000px) {
            margin-left: -205px;
        }
        @media screen and (max-width: 720px) {
            width: 100%;
            margin-left: 0;
        }
    }
}
