.products {
    margin-top: 45px;
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        padding: 15px;
        position: relative;
        transition: 0.4s;
        &:nth-child(odd) {
            background-color: $grey;
        }
        @media screen and (max-width: 540px) {
            padding: 10px 10px 25px 10px;
        }
        &.catalog-list {
            width: 100%;
            &:nth-child(odd) {
                background-color: #fff;
            }
            &:hover {
                box-shadow: 2px 4px 2px 2px rgba(0,0,0,0.3);
                transform: scale(1.01);
            }
        }
    }
    &__visible {
        font-size: 13px;
        display: flex;
        align-items: center;
        @media screen and (max-width: 845px) {
            font-size: 12px;
        }
        @media screen and (max-width: 620px) {
            display: none;
        }
        &-options {
            position: relative;
            &:hover {
                .products__visible-list {
                    display: block;
                }
            }
        }
        &-choice {
            margin-left: 20px;
            border: 2px solid $dark-grey;
            padding: 5px 8px 2px 8px;
            background-color: #fafafa;
            &:hover {
                cursor: pointer;
            }
        }
        &-list {
            background-color: $grey;
            width: 42px;
            position: absolute;
            left: 20px;
            display: none;
            z-index: 20;
        }
         &-item {
            padding: 5px 8px;
            &:hover {
                cursor: pointer;
                background-color: #fafafa;
            }
        }
    }
    &__left {
        display: flex;
    }
    &__desc {
        margin-top: 15px;
        margin-left: 10px;
        @media screen and (max-width: 540px) {
            margin-top: 0;
        }
    }
    &__status {
        font-size: 12px;
        color: $dark-grey;
    }
    &__title {
        margin-top: 20px;
        font-weight: bold;
        font-size: 15px;
        display: block;
        text-decoration: none;
        color: #000;
        &:hover {
            text-decoration: underline;
        }
        @media screen and (max-width: 540px) {
            font-size: 13px;
            margin-top: 10px;
        }
    }
    &__img {
        position: relative;
        img {
            width: 161px;
            margin-right: 25px;
            @media screen and (max-width: 540px) {
                width: 100px;
            }
        }
    }
    &__right {
        text-align: center;
    }
    &__price {
        font-size: 14px;
        @media screen and (max-width: 540px) {
            position: absolute;
            left: 25px;
            top: 85px;
        }
        span {
            color: $red;
            font-weight: bold;
            font-size: 16px;
            @media screen and (max-width: 540px) {
                font-size: 14px;
            }
        }
    }
    &__icons {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 10px;
        @media screen and (max-width: 540px) {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

}