.product-wrap {
    display: flex;
    @media screen and (max-width: 750px) {
        flex-direction: column;
    }
    &__left {
        width: 30%;
        @media screen and (max-width: 1300px) {
            width: 40%;
        }
        @media screen and (max-width: 750px) {
            justify-content: center;
            width: 100%;
        }
        .product-photo {
            display: none;
            @media screen and (max-width: 750px) {
                display: block;
            }
        }
        .product-photo__img {
            @media screen and (max-width: 750px) {
                width: 200px;
            }
            img {
                @media screen and (max-width: 750px) {
                    width: 200px;
                    height: 200px;
                }
            }
        }
        .owl-wrapper {
            @media screen and (max-width: 750px) {
                height: 200px !important;
            }
        }
        .owl-pagination {
            @media screen and (max-width: 750px) {
                margin-left: 80%;
            }
            @media screen and (max-width: 450px) {
                margin-left: 55%;
            }
            @media screen and (max-width: 400px) {
                margin-left: 40%;
            }
            @media screen and (max-width: 320px) {
                margin-left: 30%;
            }
        }
    }
    &__right {
        width: 70%;
        margin-left: 20px;
        @media screen and (max-width: 1300px) {
            width: 60%;
        }
        @media screen and (max-width: 750px) {
            width: 100%;
            margin-left: 0;
        }
        &-content {
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 750px) {
                flex-direction: column-reverse;
                padding: 10px;
            }
        }
        &-bottom {
            .product-item-detail-info-container {
                @media screen and (max-width: 540px) {
                    width: 50%;
                }
            }
            .product-item-detail-wrap {
                .product-item-scu-item-field-block, .product-item-scu-item-text-block {
                    @media screen and (max-width: 540px) {
                        width: 100%;
                        border: 2px solid #fff;
                        margin-right: 0;
                    }
                }
            }
            
        }
    }
}
.product-item {
    .catalog__status {
        @media screen and (max-width: 540px) {
            text-align: left;
        }
    }
    .catalog__flag {
        @media screen and (max-width: 540px) {
            top: 30px;
        }
    }
    .catalog__action-status {
        @media screen and (max-width: 540px) {
            bottom: 30px;
        }
    }
}
.product-code {
    font-size: 14px;
    color: $dark-grey;
    @media screen and (max-width: 750px) {
        display: none;
    }
}
.product-item-title {
    @media screen and (max-width: 540px) {
        font-size: 15px !important;
    }
}
.product-subtitle {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
.bx-title {
    &.product {
        padding-left: 0;
        margin-top: 15px;
        color: $red;
        font-size: 22px;
        @media screen and (max-width: 750px) {
            text-transform: none;
            font-size: 16px;
            text-align: left;
            padding-left: 15px;
        }
    }  
}
.product-wrap {
    margin-top: 20px;
    width: 100%;
    &__right-bottom {
        margin-top: 10px;
        @media screen and (max-width: 750px) {
            padding: 10px;
        }
    }
}
.product-item-detail-slider-controls-block {
    display: flex;
}
.product-item-detail-slider-controls-image {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    margin-top: 10px;
}
.product-item-detail-slider-image {
    width: 100%;
}
.product-item-detail-info-section {
    width: 75%;
    padding: 0 15px;
    margin-left: 15px;
    @media screen and (max-width: 1300px) {
        margin-left: 0;
        padding: 0;
        width: 100%;
    }
    @media screen and (max-width: 750px) {
        width: 100%;
        margin-top: 15px;
    }
}
.product-item-detail-info-container-title {
    font-size: 14px;
    color: $dark-grey;
    margin-top: 10px;
}
.product-item-scu-item-list {
    display: flex;
    flex-wrap: wrap;
    &.materials {
        @media screen and (max-width: 380px) {
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }
}
.product-item-scu-item-color-block {
    &:hover {
        cursor: pointer;
    }
}
.product-item-scu-item-color {
    width: 58px;
    height: 24px;
    margin-right: 15px;
    margin-top: 15px;
    &.selected {
        border: 2px solid #fff;
        outline: 2px solid $red;
    }
}
.product-item-scu-item-text-container {
    margin-top: 10px;
}
.product-item-scu-item-text-block {
    background-color: $grey;
    margin-right: 10px;
    width: 100px;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    margin: 2px;
    &:hover {
        cursor: pointer;
    }
    &.hide-list {
        &:hover {
            .product-item-scu-item-text {
                opacity: 0;
            }
            .product-item-scu-item-text-list {
                display: block;
            }
        }
        
    }
    &.selected {
        border: 2px solid white;
        outline: 2px solid $red;
    }
}
.product-item-scu-item-text-list {
    width: 100%;
    font-size: 14px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: $grey;
    display: none;
    li {
        width: 100%;
        padding: 2px 0;
        &:hover {
            cursor: pointer;
            background-color: white;
        }

    }
}
.hide-info-more {
    padding: 0;
    padding: 8px 0;
}
.product-item-scu-item-text-material {
    position: relative;
    span {
        width: 100%;
        padding: 6px 14px;
        &.selected {
            border: 2px solid white;
            outline: 2px solid $red;
        }
    }
}
.product-item-details {
    @media screen and (max-width: 1300px) {
        display: none;
    }
    &.mobile-visible {
        display: none; 
        @media screen and (max-width: 1300px) {
            display: inline-block;
            width: 100%;
            margin-top: 15px;
            .product-item-scu-container {
                float: left;
                width: 25%;
                border: 5px solid #fff;
                @media screen and (max-width: 710px) {
                    width: 50%;
                }
            }
            .product-subtitle {
                margin-left: 15px;
            }
            .product-item-detail-price {
                width: 220px;
            }
        }
    }
    .product-item-scu-container {
        display: flex;
        align-items: center;
        background-color: $grey;
        margin-top: 15px;
        padding: 0 8px;
        justify-content: space-between;
        height: 67px;
        @media screen and (max-width: 750px) {
            width: 50%;
            float: left;
            border-right: 5px solid #fff;
        }
        &__right {
           display: flex;
           flex-direction: column;
           align-items: center;
           width: 80%;
           text-align: center;
        }
    }
    .product-item-scu-item-text-block {
        width: auto;
        margin-right: 0;
        padding: 0;
        text-transform: uppercase;
        &:hover {
            cursor: default;
        }
        @media screen and (max-width: 750px) {
            font-size: 11px;
        }
    }
    .product-item-detail-info-container-title {
        font-size: 12px;
        margin-top: 0;
        @media screen and (max-width: 340px) {
            font-size: 10px;
        }
    }
}
.product-item-detail-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1070px) {
        flex-wrap: wrap;
    }
    .product-item-scu-container {
        margin-top: 10px;
    }
    .product-item-scu-item-field-block {
        display: flex;
        width: 116px;
        background-color: $grey;
        padding: 3.5px 0;
        align-items: center;
        margin: 2px;
        justify-content: center;
        ::-webkit-input-placeholder {
            color: #000;
        }
        :-moz-placeholder {
            color: #000;
        }
        :-ms-input-placeholder {
            color: #000;
        }
        ::-moz-placeholder {
            color: #000;
        }
        input {
            width: 40%;
            font-family: 'Circe';
            text-align: center;
            border: none;
            background-color: $grey;
            
            &:focus {
                ::-webkit-input-placeholder {
                    color: transparent;
                }
                :-moz-placeholder {
                    color: transparent;
                }
                :-ms-input-placeholder {
                    color: transparent;
                }
                ::-moz-placeholder {
                    color: transparent;
                }
            }
        }
        span {
            font-size: 14px;
        }
        
    }
}
.product-item-scu-item-text {
    &.total {
        color: $red;
        font-size: 16px;
    }
}
.product-item-scu-item-text-hide-info-more {
    position: absolute;
    z-index: 150;
    background-color: #f3f3f3;
    width: 570px;
    left: 50%;
    margin-left: -50%;
    padding: 20px;
    text-align: justify;
    font-size: 13px;
    top: 100%;
    display: none;
    @media screen and (max-width: 1050px) {
        width: 400px;
    }
    @media screen and (max-width: 750px) {
        width: 250px;
        font-size: 11px;
    }
    &__desc {
        font-weight: normal;
        margin-top: 10px;
    }
    &__subtitle {
        text-transform: uppercase;
        font-weight: normal;
        margin-top: 10px;
    }
    &__list {
        font-weight: normal;
    }
}
.hide-info-more {
    &:hover {
        .product-item-scu-item-text-hide-info-more {
            display: block;
        }
    }
    
}
.product-item-detail-info-container {
    &.button {
        align-self: flex-end;
        @media screen and (max-width: 1070px) {
            width: 100%;
            display: flex;
            margin-top: 20px;
            justify-content: center;
        }
    }
}
.product-item-detail-buy-button {
    background-color: $red;
    display: flex;
    padding: 5px;
    text-decoration: none;
    align-items: center;
    width: 234px;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    @media screen and (max-width: 1300px) {
        width: 190px;
    }
    @media screen and (max-width: 1070px) {
        border-radius: 20px;
    }
    @media screen and (max-width: 540px) {
        width: 140px;
        text-align: center;
        padding: 5px 15px;
    }
    &:hover {
        background-color: darken($red, 5);
    }
    span {
        color: #fff;
        margin-left: 8px;
        font-size: 13px;
    }
}
.product-item-detail-compare {
    display: none;
    @media screen and (max-width: 540px) {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        font-size: 13px;
        img {
            width: 20px;
        }
        &__link {
            margin-left: 5px;
            text-decoration: none;
            color: $dark-grey;
        }

    }
}
.product-item-detail-gallery {
    position: relative;
    margin-top: 30px;
    @media screen and (max-width: 750px) {
        margin-top: 0px;
    }
    @media screen and (max-width: 540px) {
        background-color: $grey;
        padding-bottom: 20px;
    }
    .product-subtitle {
        @media screen and (max-width: 540px) {
            display: none;
        }
    }
    .carousel-element {
        height: auto;
        width: auto;
        @media screen and (max-width: 540px) {
            margin-left: 8px;
            display: flex;
            justify-content: center;
        }
    }
    .owl-wrapper {
        height: auto !important;
        margin-top: 20px;
    }
    .owl-wrapper-outer {
        overflow: hidden;
    }
    .owl-pagination {
        display: none;
        @media screen and (max-width: 540px) {
            display: flex;
        }
    }
    .arrow-left, .arrow-right {
        top: 35%;
    }
    .arrow-left {
        left: -6%;
    }
    .arrow-right {
        right: -6%;
    }
}
.product-item-detail-gallery-item {
    width: 100px;
    height: 100px;
    img {
        width: 100px;
        height: 100px;
    }
}

.ic_myCarousel {
    @media screen and (max-width: 750px) {
        display: none;
    }
}
.ic_myCarousel .ic_button {
	float: left;
	height: 73px;
	line-height: 25px;
	margin: 4px 4px 0 2px;
	width: 73px;
	border: 2px solid #eee;
	background: #ddd;
}
.ic_myCarousel .ic_active {
	background: #fff;
	border: 2px solid #800;
}
.ic_myCarousel .ic_active  {
	background: #fff;
	border: 1px solid #faa;
}
.ic_caption {
	opacity: .6;
	background: #fff;
	font-size: 12px;
	padding: 4px 8px;
}
.ic_left_nav, .ic_right_nav, .ic_controls {
    display: none;
}
.product-wrap__img {
    @media screen and (max-width: 1300px) {
        width: 70%;
    }
}
//блок цены
.product-item-detail-price {
    display: flex;
    margin-bottom: 20px;
    border: 2px solid $dark-grey;
    padding: 10px;
    @media screen and (max-width: 750px) {
        justify-content: space-around;
    }
    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 14px;
    }
    &-title {
        color: $red;
        font-weight: bold;
    }
    &-status {
        color: green;
        font-size: 13px;
    }
    &__right {
        margin-left: 20px;
    }
    &-number {
        font-size: 24px;
        font-weight: bold;
    }
    &-desc {
        font-size: 13px;
    }
}
//мобильный список
.product-item-detail-mobile-wrap {
    display: none;
    @media screen and (max-width: 540px) {
        display: block;
    }
}
.product-item-detail-mobile-item {
    background-color: $grey;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    &.active {
        background-color: $red;
        color: #fff;
        .product-item-detail-mobile-item-arrow {
            background-position: 0 -33px;
        }
    }
    &:hover {
        cursor: pointer;
    }
}
.product-item-detail-mobile-item-arrow {
    width: 33px;
    height: 33px;
    background: url('assets/images/arrow-list.png') no-repeat;
}
.product-item-detail-mobile-item-title {
    text-transform: uppercase;
    margin-left: 22px;
    font-size: 12px;
}
.product-item-detail-mobile-wrap-hide-content {
    height: 0;
    overflow: hidden;
    transition: .4s;
}
.product-item-detail-mobile-wrap-hide-content-info {
    padding: 10px;
    font-size: 12px;
}