.project {
    &__title {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 35px;
    }
    &__desc {
        font-size: 14px;
        margin: 20px 0;
    }
}