.tabs {
    position: relative;
    &__title {
        text-transform: uppercase;
        color: $dark-grey;
        font-size: 14px;
        margin: 20px 0 20px 20px;
        @media screen and (max-width: 540px) {
            width: 100%;
            text-align: left;
            margin: 20px 0 10px 15px;
        }
    }
    &__link {
        display: block;
        background-color: $grey;
        width: 234px;
        padding: 5px 15px;
        margin-top: 6px;
        text-decoration: none;
        color: #000;
        &--exit {
            background-color: $dark-grey;
            color: #fff;
            display: flex;
            align-items: flex-start;
            img {
                margin-right: 10px;
            }
            @media screen and (max-width: 540px) {
                display: none;
            }
            &.mobile-hidden {
                display: none; 
                @media screen and (max-width: 540px) {
                    display: flex;
                    width: 100%;
                    float: none;
                    border: none;
                    justify-content: center;
                    align-items: center;
                    margin-top: 0;
                }
            }
        }
        @media screen and (max-width: 1000px) {
            text-align: center;
            font-size: 14px;
            width: 150px;
        }
        @media screen and (max-width: 540px) {
            width: 50%;
            float: left;
            border: 2px solid #fff;
        }
        @media screen and (max-width: 370px) {
            font-size: 11px;
        }
        &:hover {
            background-color: $red;
            color: #fff;
            font-weight: normal;
            cursor: pointer;
        }
    }
    section {
        display: none;
        position: absolute;
        top: 0;
        left: 250px;
        animation: scale 0.5s ease-in-out; 
        @media screen and (max-width: 1000px) {
            position: relative;
            left: 0;
        }
    }
    .inside-section {
        display: none;
        position: absolute;
        top: 0;
        left: 250px;
        animation: scale 0.5s ease-in-out; 
        @media screen and (max-width: 1000px) {
            left: 180px;
        }
    }
    input {
        display: none;
        &:checked+label {
            background-color: $red;
            color: #fff;
            font-weight: normal;
        }
    }
    label {
        display: block;
        width: 234px;
        background-color: $grey;
        padding: 5px 15px;
        margin-top: 6px;
        @media screen and (max-width: 1000px) {
            text-align: center;
            width: 150px;
            font-size: 14px;
            float: left;
            margin-right: 10px;
        }
        @media screen and (max-width: 540px) {
            width: 120px;
        }
        @media screen and (max-width: 320px) {
            font-size: 12px;
        }
        &:hover {
            background-color: $red;
            color: #fff;
            font-weight: normal;
            cursor: pointer;
        }
    }
    #tab1:checked~#content-tab1, #tab2:checked~#content-tab2, 
    #tab3:checked~#content-tab3, #tab4:checked~#content-tab4,
    #tab5:checked~#content-tab5,
    #tab11:checked~#content-tab11, #tab12:checked~#content-tab12,
    #tab21:checked~#content-tab21, #tab22:checked~#content-tab22,
    #tab23:checked~#content-tab23, #tab24:checked~#content-tab24,
    #tab25:checked~#content-tab25, 
    #tab100:checked~#content-tab100,
    #tab200:checked~#content-tab200,
    #tab300:checked~#content-tab300, #tab400:checked~#content-tab400,
    #tab500:checked~#content-tab500,
    {
        display: block;
    }
    @keyframes scale { 
        0% {  
            opacity: 0; 
        } 
        100% { 
            opacity: 1; 
        } 
    }
}
.clear {
    clear: left;
}

.tabs {
    &__icon {
        margin-right: 10px;
        @media screen and (max-width: 1000px) {
            display: none;
        }
        &.size {
            width: 75px;
            height: 33px;
            background: url('assets/images/service-menu1.png') no-repeat;
        }
        &.delivery {
            width: 43px;
            height: 27px;
            background: url('assets/images/service-menu2.png') no-repeat;
            @media screen and (max-width: 1000px) {
                display: none;
            }
        }
        &.cut {
            width: 43px;
            height: 32px;
            background: url('assets/images/service-menu3.png') no-repeat;
        }
        &.twist {
            width: 43px;
            height: 31px;
            background: url('assets/images/service-menu4.png') no-repeat;
        }
        &.pack {
            width: 43px;
            height: 32px;
            background: url('assets/images/service-menu5.png') no-repeat;
        }
        &.load {
            width: 43px;
            height: 34px;
            background: url('assets/images/service-menu6.png') no-repeat;
        }
        &.returning {
            width: 43px;
            height: 32px;
            background: url('assets/images/service-menu7.png') no-repeat;
        }
    }
    &--services {
        section {
            @media screen and (max-width: 1000px) {
               left: 170px;
               top: 0;
               position: absolute;
            }
            @media screen and (max-width: 540px) {
                position: relative;
                left: 0;
            }
        }
        label {
            @media screen and (max-width: 1000px) {
                float: none;
                font-size: 12px !important;
                text-align: left;
            }
        }
        #tab101:checked~#content-tab1, #tab102:checked~#content-tab2,
        #tab103:checked~#content-tab3, #tab104:checked~#content-tab4,
        #tab105:checked~#content-tab5, #tab106:checked~#content-tab6,
        #tab107:checked~#content-tab7 {
            display: block;
        }
        
        label {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            display: flex;
            align-items: center;
            padding: 5px 8px;
            @media screen and (max-width: 540px) {
                display: none;
            }
        }
    }
    &--contacts {
        section {
            @media screen and (max-width: 1000px) {
               left: 170px;
               top: 0;
            }
        }
        label {
            @media screen and (max-width: 1000px) {
                float: none;
            }
        }
        @media screen and (max-width: 540px) {
            display: none;
        }

        &.mobile {
            display: none;
            @media screen and (max-width: 540px) {
                display: block;
            }
            label {
                @media screen and (max-width: 540px) {
                    float: left;
                    width: 50%;
                    border-left: 2px solid white;
                    border-right: 2px solid white;
                    margin-right: 0;
                }
                @media screen and (max-width: 495px) {
                    font-size: 12px;
                    padding: 5px 2px;
                }
                @media screen and (max-width: 360px) {
                    font-size: 10px;
                }
                &.inside-label {
                    border: none;
                    float: none;
                    width: 100%;
                    &.active {
                        background-color: $red;
                        color: #fff;
                    }
                }
            }
            section {
                position: relative;
                left: 0;
            }
        }
        
    }
    &--pc {
        label {
            @media screen and (max-width: 1000px) {
                float: none;
            }
            @media screen and (max-width: 540px) {
                float: left;
                width: 50%;
                margin-right: 0;
                border: 2px solid #fff;
            }
            @media screen and (max-width: 370px) {
                font-size: 11px;
            }
        }
        section {
            @media screen and (max-width: 1000px) {
                position: absolute;
                left: 200px;
            }
            @media screen and (max-width: 540px) {
                position: relative;
                left: 0;
            }
        }
    }
    &--about {
        .hide-label-for-mobile {
            @media screen and (max-width: 540px) {
                display: none !important;
            }
        }
        label {
            @media screen and (max-width: 540px) {
                width: 50%;
                margin-right: 0;
                border: 2px solid #fff;
            }
        }
    }
}
//табы на странице "Подробный товар"
.tabs-product {
    position: relative;
    margin-top: 20px;
    @media screen and (max-width: 540px) {
        display: none;
    }
    section {
        display: none;
        animation: scale 0.5s ease-in-out; 
    }
    input {
        display: none;
        &:checked+label {
            background-color: $red;
            color: #fff;
        }
    }
    label {
        display: block;
        width: calc(100%/3);
        height: 67px;
        background-color: $grey;
        padding: 5px 15px;
        margin-top: 6px;
        float: left;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        @media screen and (max-width: 750px) {
            font-size: 13px;
            text-align: center;
        }
        &:hover {
            background-color: $red;
            color: #fff;
            cursor: pointer;
        }
    }
    #tab1:checked~#content-tab1, #tab2:checked~#content-tab2, 
    #tab3:checked~#content-tab3
    {
        display: block;
    }
    @keyframes scale { 
        0% {  
            opacity: 0; 
        } 
        100% { 
            opacity: 1; 
        } 
    }
}
.product-item-detail-tab-content {
    padding: 30px 0;
    @media screen and (max-width: 1366px) {
        font-size: 15px;
    }
}
.product-item-detail-tab-content-title {
    margin-top: 15px;
    text-transform: uppercase;
}
.product-item-detail-tab-content-text {
    &.added {
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 15px;
    }
}
.product-item-detail-tab-content-list {
    list-style: circle;
    margin-left: 20px;
}